.asteroid {
    border: 1px solid green;
    font-weight: bold;
}
.asteroidb326 {
    border: 1px solid green;
    font-weight: bold;
}
.asteroidbig {
    color: blue;
    background-color: yellow;
}
.asteroidb329big {
    color: blue;
    font-weight: bold;
}